body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0d0dfd;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fbf8f8ba;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(7, 7, 7, 0.938);
}

h1 {
    text-align: center;
    color: #ba7e24;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #242323;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #2445ba;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #a02222;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2efef;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}